<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/styles.css">
</head>
<body>
    <nav>
        <h3 id="tittle" class="">Estudiantes de ADSI</h3>
    </nav>
    <div class="contenedor">
        <section>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Nº Telefono</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </section>
        <aside>

            <h2>Formulario de inscripcion</h2><br>
            <form>
                <label for="Name">Nombres:</label><br>
                <input id="name" name="name" type="text"><br>
                <label for="Apellido">Apellidos:</label><br>
                <input id="lastName" name="lastName" type="text"><br>
                <label for="Numero">Nº Telefono:</label><br>
                <input id="number" name="number" type="text"><br>
                <input type="submit" class="envio" id="enviar"></input>
            </form>
        </aside>
    </div>
</body>
</html>